#oddishBtn #gloomBtn #weezingBtn {
    background-color: $yellow;
}

#oddishBtn {
    margin: 30px;
    margin-right: 0px;
    margin-top: 0px;
}

#gloomBtn {
    margin: 30px;
    margin-top: 0px;
}

#weezingBtn {
    margin: 30px;
    margin-left: 0px;
    margin-top: 0px;
}