#oddishBtn #gloomBtn #weezingBtn {
    background-color: $yellow;
}

#oddishBtn {
    margin: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 35px;
}

#gloomBtn {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 38px;
}

#weezingBtn {
    margin: 00px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 29px;
}