@mixin pokemonCircle {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: #EBEBEB;
    border-color: crimson;
    border-width: 15px;
    border-radius: 50%;
    margin-left: 100px;
    background-size: cover;
    -webkit-animation: rotation 2s infinite linear;
}

$cubic: cubic-bezier(0.785, 0.135, 0.15, 0.86);

#professorGrimHeader {
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    color: $color;
    padding-top: 10px;
    padding-bottom: 40px;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;

}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

#circle {
    @include pokemonCircle()
}

/* #oddishCircle {
    @include pokemonCircle;
     border-style: outset;
    background-image: url("images/oddish.png");
    
    }
  
  #gloomCircle {
    @include pokemonCircle()
    border-color: orange;
    background-image: url("images/gloom.png");
   
  }
  
  #weezingCircle {
    @include pokemonCircle()
    border-color: yellow;
    background-image: url("images/weezing.png");
   
  } */
  
  @-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
  }

 



