#oddishBtn #gloomBtn #weezingBtn {
  background-color: #FEC100; }

#oddishBtn {
  margin: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 35px; }

#gloomBtn {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 38px; }

#weezingBtn {
  margin: 00px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 29px; }

body {
  background-color: #528078; }

.card {
  width: 300px;
  margin-top: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #00695c; }

.oddishCard {
  padding-right: 20px; }

.card-content {
  background-color: #00695c; }

.card-reveal {
  background-color: #00695c; }

#professorGrimHeader {
  font-size: 55px;
  font-family: 'Courier New', Courier, monospace;
  font-style: bold;
  color: #FEC100;
  padding-top: 10px;
  padding-bottom: 40px;
  overflow: hidden;
  /* content is not revealed until the animation */
  border-right: .12em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* Typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

#circle {
  width: 180px;
  height: 180px;
  margin-top: 30px;
  background-color: #EBEBEB;
  border-style: outset;
  border-color: orange;
  border-width: 15px;
  border-radius: 50%;
  margin-left: 60px;
  margin-bottom: 30px;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear; }

#oddishCircle {
  width: 180px;
  height: 180px;
  margin-top: 30px;
  background-color: #EBEBEB;
  border-style: outset;
  border-color: orange;
  border-width: 15px;
  border-radius: 50%;
  margin-left: 60px;
  margin-bottom: 30px;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/oddish.png"); }

#gloomCircle {
  width: 180px;
  height: 180px;
  margin-top: 30px;
  background-color: #EBEBEB;
  border-style: outset;
  border-color: orange;
  border-width: 15px;
  border-radius: 50%;
  margin-left: 60px;
  margin-bottom: 30px;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/gloom.png"); }

#weezingCircle {
  width: 180px;
  height: 180px;
  margin-top: 30px;
  background-color: #EBEBEB;
  border-style: outset;
  border-color: orange;
  border-width: 15px;
  border-radius: 50%;
  margin-left: 60px;
  margin-bottom: 30px;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/weezing.png"); }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

#oddishBtn {
  margin-left: 55px; }

#gloomBtn {
  margin-left: 60px; }

#weezingBtn {
  margin-left: 50px; }
