#oddishBtn #gloomBtn #weezingBtn {
  background-color: #FEC100; }

.btn {
  color: #FEC100;
  border-radius: 80%; }

body {
  background-color: #528078; }

.card {
  background-color: #528078;
  text-align: center; }

#professorGrimHeader {
  font-size: 55px;
  font-family: 'Courier New', Courier, monospace;
  font-style: bold;
  color: #FEC100;
  padding-top: 10px;
  padding-bottom: 40px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

#circle {
  width: 50%;
  height: 50%;
  margin-top: 20px;
  background-color: #EBEBEB;
  border-color: crimson;
  border-width: 15px;
  border-radius: 50%;
  margin-left: 100px;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear; }

/* #oddishCircle {
    @include pokemonCircle;
     border-style: outset;
    background-image: url("images/oddish.png");
    
    }
  
  #gloomCircle {
    @include pokemonCircle()
    border-color: orange;
    background-image: url("images/gloom.png");
   
  }
  
  #weezingCircle {
    @include pokemonCircle()
    border-color: yellow;
    background-image: url("images/weezing.png");
   
  } */
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
